/* 

  
 
  button {
    font-size: 16px;
    padding: 15px;
    margin: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 200px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  
  button:focus,
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  

  .btn-outline-primary {
    background-color: white;
    color: #007bff;
    border: 2px solid #007bff;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
  }
  
  .btn-outline-secondary {
    background-color: white;
    color: #6c757d;
    border: 2px solid #6c757d;
  }
  
  .btn-outline-secondary:hover {
    background-color: #6c757d;
    color: white;
  }
  
  .btn-outline-success {
    background-color: white;
    color: #28a745;
    border: 2px solid #28a745;
  }
  
  .btn-outline-success:hover {
    background-color: #28a745;
    color: white;
  }
  
  .btn-outline-danger {
    background-color: white;
    color: #dc3545;
    border: 2px solid #dc3545;
  }
  
  .btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-outline-warning {
    background-color: white;
    color: #ffc107;
    border: 2px solid #ffc107;
  }
  
  .btn-outline-warning:hover {
    background-color: #ffc107;
    color: white;
  }
  
  .btn-outline-info {
    background-color: white;
    color: #17a2b8;
    border: 2px solid #17a2b8;
  }
  
  .btn-outline-info:hover {
    background-color: #17a2b8;
    color: white;
  }
  
  .btn-outline-dark {
    background-color: white;
    color: #343a40;
    border: 2px solid #343a40;
  }
  
  .btn-outline-dark:hover {
    background-color: #343a40;
    color: white;
  } */
 
  section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .sectionText {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
  }
  
  /* Carousel container styles */
  /* .carousel-container {
    margin: 40px 0;
  }
  
  .carousel-container h2 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    button {
      width: 100%;
      margin: 10px 0;
    }
  } */
  
  
  /* h2 {
    text-align: center;
    color: #4CAF50;
    margin: 20px 0;
  }
  
  .text-center {
    text-align: center;
  }
  
  .my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  
  .mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }

.section {
    margin-top: 20px;
  }
  
  .sectionTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333; 
  }
  
     */